body{
    background-image:url(https://images6.alphacoders.com/371/thumb-1920-371656.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed; 
}
