img {
    width: 250px;
    margin: 10px;
  }
  .subtitutlo__pasta{
    font-size: 9rem;
    font-family: 'Staatliches', cursive;
    color: white;
    display: flex;
    justify-content: center;
}

.btn{
  font-size: 3.5rem;
  border-width: 0.5rem;
  border: black solid;
  
}

.subtitulo__fettuccini{
  background-color: white;
  border: solid black 3px;
  
}