@import url('https://fonts.googleapis.com/css2?family=Koulen&display=swap');

img {
    width: 200px;
    margin: 10px;
  }

  .h2__pasta{
    font-size: 4rem;
    font-family: 'Francois One', sans-serif; 
    color: white;
    display: flex;
    justify-content: center;
    margin: 6rem;
}

.btn{
  font-size: 3.5rem;
  border-width: 0.5rem;
  border: black solid;
  
}

.subtitulo__fettuccini{
  background-color: white;
  border: solid black 3px;
  
}

.parrafo__foto{
  font-size: 3rem;
  font-weight:bolder;
  margin: 1.5rem;
  color: black;
}

.parrafo__foto{
  font-family: 'Koulen', cursive;
  color:white;
  font-weight: 300;
}