    
.footer div{
    font-family: 'Rubik Mono One', sans-serif;
    width: 10rem;
    height: 15rem;
    margin: 20rem;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
}

.footer__red__social{
font-size: 3rem;
text-decoration: none;
list-style: none;
margin: 2rem;
color: aliceblue;
}

