    
.footer{
    display: grid;
    justify-content: end;


    & div{
        font-family: 'Rubik Mono One', sans-serif;
    width: 10rem;
    height: 15rem;
    margin: 5rem;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row-reverse;
    justify-content: flex-start;

    }
    
    &__red__social{
    font-size: 7rem;
    text-decoration: none;
    list-style: none;
    margin: 2rem;
    color: rgb(255, 255, 255);
    }
}



