@import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Koulen&display=swap');
@mixin movimiento ($align-items, $justify-content) {
    align-items: $align-items;
    justify-content: $justify-content;
    }
.header{
    display: flex;
    flex-direction: column;
    @include movimiento(center,space-between);
    font-family: 'Koulen', cursive;
    margin:2.5rem;
    &__titulo{
        font-size: 15rem;
        color: rgba(243, 233, 236, 0.938);
        font-family: 'Passion One', cursive;
    }
    &__ul{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__navbarra{
        display: flex;
        font-size: 3rem;
        padding: 0rem;      
    } 
    &__navbarra__pastas{
        font-size: 2rem;
    }
    &__separador{
        display: flex;
    }
    
}

.a__nav{
    color: rgb(255, 255, 255);
    font-weight: 300;
    text-decoration: none;
   
}





