@import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Koulen&display=swap');
@mixin movimiento ($align-items, $justify-content) {
    align-items: $align-items;
    justify-content: $justify-content;
    }

.header{
    display: flex;
    @include movimiento(none, space-between);
    font-family: 'Koulen', cursive;
    margin-top: 2.5rem;
    &__titulo{
        font-size: 9rem;
        color: rgba(236, 25, 25, 0.938);
        font-family: 'Passion One', cursive;
    }
    &__navbarra{
        display: flex;
        font-size: 3rem;
        padding: 0rem;
      
    } 
    &__navbarra__pastas{
        font-size: 2rem;
    }
    &__separador{
        display: flex;
    }
   
}



