@import url('https://fonts.googleapis.com/css2?family=Koulen&display=swap');
@mixin movimiento ($align-items, $justify-content) {
    align-items: $align-items;
    justify-content: $justify-content;
    }

.div__heros{
    display: flex;
    @include movimiento(flex-start, space-around);
   
    margin-top: 15rem;
}

.hero__izquierdo{
    display: flex;
    flex-direction: column;
    background-color: antiquewhite;
    font-family: 'Koulen', cursive;
    text-align:center;
    border: 1px solid black;
    font-size: 1.5rem;
}


