@media screen and (max-width: 768px){
   

    header{
        flex-direction: column;
        margin: 10rem;
       
    }

    main .hero__section{
        flex-direction: column;
        align-items: center;
        margin: 1rem;
        width: 100%;
    }

    
    .div_subtitulo_Fettuccini{
       flex-direction: column;
        align-items: center;           
    }

    .subtitulo__fettuccini{
        box-sizing: border-box;
        border: solid #000103 6px;
        padding: 5px;
        
    }

    .div_subtitulo_Sorrentinos {
        display: flex;
        flex-direction: column;
        align-content: space-around;
        flex-wrap: wrap;
        margin: 0%;
    }


    .form__whatsapp{
        display: flex;
        flex-direction: row;
        align-content: center;
        align-items: center;
    }

    .ul__promos{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: nowrap; 
      }

      .footer div{
        display: flex;
        flex-direction: row-reverse;
        flex-wrap: nowrap;
        justify-content: flex-end;
      }

}