@mixin movimiento ($align-items, $justify-content) {
    align-items: $align-items;
    justify-content: $justify-content;
    }
@media screen and (max-width: 768px){
   
  
 
    main .div__heros{
        display:flex;

    }
    .hero__derecho{
        display: flex;
    }

    
    .div_subtitulo_Fettuccini{
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        flex-wrap: wrap;
        justify-content: center;
    
    }

    .subtitulo__fettuccini{
        box-sizing: border-box;
        border: solid #000103 6px;
        width: fit-content;
        
    }

    
    .div_subtitulo_Sorrentinos {
        display: flex;
        flex-direction: row-reverse;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .div_subtitulo_Raviolon{
        width: 600px;
        display: grid;
        grid-template-columns: 1fr 1fr;
               
     }

     
     .div_subtitulo_noquis{
         display: grid; 
         grid-template-rows: 1fr 1fr;
         grid-template-columns: 1fr 1fr;
         grid-gap: initial;
         .img__ñoquis{
             width: 250px;
             margin-top: 10rem;
         }
         
    }
    
    .parrafo__foto{
        margin-bottom: 7rem;
    }

    .form__whatsapp{
        display: flex;
        flex-direction: row;
        align-content: center;
        align-items: center;
    }

    .ul__promos{
        display: flex;
        flex-direction: column;
        @include movimiento(center, center);
        flex-wrap: nowrap; 
      }

      .footer div{
        display: flex;
        flex-direction: row-reverse;
        flex-wrap: nowrap;
        @include movimiento(none, flex-end);
        margin: 10rem;
      }

}