@media screen and (max-width: 425px){
    .header__titulo {
        font-size: 10rem;
    }
    .navbar{
        margin: 1.5rem;
        padding: 1.5rem;
    }
    .navbar__toggler{
        width: max-content;
        height: max-content;
    }


    .div__heros{
        display: flex;
        align-content: center;
        align-items: center;
        flex-direction: column;
        gap: 3rem;
        margin-top: 2rem;
    }


    .hero__derecho{
        display: flex;
        justify-content: center;
    }
    
   

    .subtitutlo__pasta{
        font-size: 7rem;
        font-family: 'Times New Roman', Times, serif;
        color: white;
    }

    .div_subtitulo_noquis{
        display: grid; 
        grid-template-rows: repeat(5auto);
        gap: 1rem;  
        grid-template-areas: "img1" "img2" "img3" "img4" "img5";
        height: fit-content;
    }
    
    .img1{
        grid-area: img1;    
    }
    
    .img2{
        grid-area: img2;    
    }
    
    .img3{
        grid-area: img3;    
    }
    
    .img4{
        grid-area: img4;    
    }
    
    .img5{
        grid-area: img5;    
    }
    

     .div_subtitulo_Raviolon{
    
        display: grid;
        grid-template-columns: 1fr;
        width: 350px;
        
       
     }

     .form__whatsapp{
        display: flex;
        flex-direction: row;
        align-content: center;
        align-items: center;
    }
      
      
    .footer{
        display: grid;
        justify-content: end;
    }
    

}