.ul__promos{
    display: grid;
    grid-auto-flow:column;
    margin-top: 10rem;
    .Promo {
        font-size: 5rem;
        color: #e9e90e;
        font-style: oblique;
    }
    .Promo__1 {
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: 3rem;
        color: white;
        font-style:oblique;
        text-decoration: underline;
        font-weight: 600;
    }
    
    
  }
  