@import"../parciales/especificaciones_";

.div_subtitulo_Raviolon{
    display: grid;
    grid-template-columns: 2fr 2fr 2fr ;
    grid-template-rows: 2 fr 2fr ;
    grid-gap: 10rem;
    width: 100rem;
    margin-top: 3rem;
}
.img__raviolon{
    @extend .subtitulo__fettuccini;
}