@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Koulen&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Passion+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Koulen&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Koulen&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Passion+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Koulen&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Koulen&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Koulen&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Koulen&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

img {
  width: 200px;
  margin: 10px; }

.h2__pasta {
  font-size: 4rem;
  font-family: 'Francois One', sans-serif;
  color: white;
  display: flex;
  justify-content: center;
  margin: 6rem; }

.btn {
  font-size: 3.5rem;
  border-width: 0.5rem;
  border: black solid; }

.subtitulo__fettuccini, .img__raviolon, .div_subtitulo_Sorrentinos {
  background-color: white;
  border: solid black 3px; }

.parrafo__foto {
  font-size: 3rem;
  font-weight: bolder;
  margin: 1.5rem;
  color: black; }

.parrafo__foto {
  font-family: 'Koulen', cursive;
  color: white;
  font-weight: 300; }

body {
  background-image: url(https://images6.alphacoders.com/371/thumb-1920-371656.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed; }

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-family: 'Koulen', cursive;
  margin: 2.5rem; }
  .header__titulo {
    font-size: 15rem;
    color: rgba(243, 233, 236, 0.938);
    font-family: 'Passion One', cursive; }
  .header__ul {
    display: flex;
    justify-content: center;
    align-items: center; }
  .header__navbarra {
    display: flex;
    font-size: 3rem;
    padding: 0rem; }
  .header__navbarra__pastas {
    font-size: 2rem; }
  .header__separador {
    display: flex; }

.a__nav {
  color: black;
  font-weight: 300;
  text-decoration: none; }

.div__heros {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  margin-top: 15rem; }

.hero__izquierdo {
  display: flex;
  flex-direction: column;
  background-color: antiquewhite;
  font-family: 'Koulen', cursive;
  text-align: center;
  border: 1px solid black;
  font-size: 1.5rem; }

.footer {
  display: grid;
  justify-content: end; }
  .footer div {
    font-family: 'Rubik Mono One', sans-serif;
    width: 10rem;
    height: 15rem;
    margin: 5rem;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row-reverse;
    justify-content: flex-start; }
  .footer__red__social {
    font-size: 7rem;
    text-decoration: none;
    list-style: none;
    margin: 2rem;
    color: white; }

.form {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .form__pasta {
    border: 6px solid black;
    width: fit-content;
    margin: 10px;
    padding: 20px;
    font-size: 3rem;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    align-content: center;
    background-image: url(https://thumbs.dreamstime.com/b/el-cocer-manos-que-amasan-los-pasteles-crudos-de-la-pasta-en-un-cuenco-114145412.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: black;
    font-family: 'Passion One', cursive; }
  .form__titulo {
    font-size: 3rem;
    font-family: 'Passion One', cursive;
    color: #801414; }
  .form__select {
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; }
  .form__opciones {
    color: #1e06f5;
    font-size: 2.3rem; }

.parrafo__foto {
  font-size: 3rem;
  font-weight: bolder;
  margin: 1.5rem;
  color: black; }

.div_subtitulo_Fettuccini {
  display: flex;
  justify-content: space-around; }

.tilt-in-top-1 {
  -webkit-animation: tilt-in-top-1 4s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.1s 2;
  animation: tilt-in-top-1 4s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.1s 2; }

@-webkit-keyframes tilt-in-top-1 {
  0% {
    -webkit-transform: rotateY(30deg) translateY(-300px) skewY(-30deg);
    transform: rotateY(30deg) translateY(-300px) skewY(-30deg);
    opacity: 0; }
  100% {
    -webkit-transform: rotateY(0deg) translateY(0) skewY(0deg);
    transform: rotateY(0deg) translateY(0) skewY(0deg);
    opacity: 1; } }

@keyframes tilt-in-top-1 {
  0% {
    -webkit-transform: rotateY(30deg) translateY(-300px) skewY(-30deg);
    transform: rotateY(30deg) translateY(-300px) skewY(-30deg);
    opacity: 0; }
  100% {
    -webkit-transform: rotateY(0deg) translateY(0) skewY(0deg);
    transform: rotateY(0deg) translateY(0) skewY(0deg);
    opacity: 1; } }

img {
  width: 200px;
  margin: 10px; }

.h2__pasta {
  font-size: 4rem;
  font-family: 'Francois One', sans-serif;
  color: white;
  display: flex;
  justify-content: center;
  margin: 6rem; }

.btn {
  font-size: 3.5rem;
  border-width: 0.5rem;
  border: black solid; }

.subtitulo__fettuccini, .img__raviolon, .div_subtitulo_Sorrentinos {
  background-color: white;
  border: solid black 3px; }

.parrafo__foto {
  font-size: 3rem;
  font-weight: bolder;
  margin: 1.5rem;
  color: black; }

.parrafo__foto {
  font-family: 'Koulen', cursive;
  color: white;
  font-weight: 300; }

.div_subtitulo_Raviolon {
  display: grid;
  grid-template-columns: 2fr 2fr 2fr;
  grid-template-rows: 2 fr 2fr;
  grid-gap: 10rem;
  width: 100rem;
  margin-top: 3rem; }

img {
  width: 200px;
  margin: 10px; }

.h2__pasta {
  font-size: 4rem;
  font-family: 'Francois One', sans-serif;
  color: white;
  display: flex;
  justify-content: center;
  margin: 6rem; }

.btn {
  font-size: 3.5rem;
  border-width: 0.5rem;
  border: black solid; }

.subtitulo__fettuccini, .img__raviolon, .div_subtitulo_Sorrentinos {
  background-color: white;
  border: solid black 3px; }

.parrafo__foto {
  font-size: 3rem;
  font-weight: bolder;
  margin: 1.5rem;
  color: black; }

.parrafo__foto {
  font-family: 'Koulen', cursive;
  color: white;
  font-weight: 300; }

.div_subtitulo_Sorrentinos {
  display: flex;
  justify-content: space-around;
  margin-top: 5rem; }

.puff-in-center {
  -webkit-animation: puff-in-center 4s cubic-bezier(0.47, 0, 0.745, 0.715) both;
  animation: puff-in-center 4s cubic-bezier(0.47, 0, 0.745, 0.715) both; }

@-webkit-keyframes puff-in-center {
  0% {
    -webkit-transform: scale(2);
    transform: scale(2);
    -webkit-filter: blur(4px);
    filter: blur(4px);
    opacity: 0; }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1; } }

@keyframes puff-in-center {
  0% {
    -webkit-transform: scale(2);
    transform: scale(2);
    -webkit-filter: blur(4px);
    filter: blur(4px);
    opacity: 0; }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1; } }

.div_subtitulo_noquis {
  width: 200px;
  height: 200px;
  display: grid;
  grid-template-rows: repeat(9 auto);
  grid-template-columns: repeat(8 auto);
  gap: 1rem;
  justify-content: center;
  align-items: center;
  grid-template-areas: "img1 img1 img1 img1 img2 img2 img2 img2" "img1 img1 img1 img1 img2 img2 img2 img2" "img1 img1 img1 img1 img2 img2 img2 img2" ". .  img3 img3 img3 img3 . .  " ". .  img3 img3 img3 img3 . .  " ". .  img3 img3 img3 img3 . .  " "img4 img4 img4 img4 img5 img5 img5 img5" "img4 img4 img4 img4 img5 img5 img5 img5" "img4 img4 img4 img4 img5 img5 img5 img5"; }

.img1 {
  grid-area: img1; }

.img2 {
  grid-area: img2; }

.img3 {
  grid-area: img3; }

.img4 {
  grid-area: img4; }

.img5 {
  grid-area: img5; }

.rotate-in-center {
  -webkit-animation: rotate-in-center 2s cubic-bezier(0.25, 0.46, 0.45, 0.94) 4 both;
  animation: rotate-in-center 2s cubic-bezier(0.25, 0.46, 0.45, 0.94) 4 both; }

@-webkit-keyframes rotate-in-center {
  0% {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg);
    opacity: 0; }
  100% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
    opacity: 1; } }

@keyframes rotate-in-center {
  0% {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg);
    opacity: 0; }
  100% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
    opacity: 1; } }

img {
  width: 200px;
  margin: 10px; }

.h2__pasta {
  font-size: 4rem;
  font-family: 'Francois One', sans-serif;
  color: white;
  display: flex;
  justify-content: center;
  margin: 6rem; }

.btn {
  font-size: 3.5rem;
  border-width: 0.5rem;
  border: black solid; }

.subtitulo__fettuccini, .img__raviolon, .div_subtitulo_Sorrentinos {
  background-color: white;
  border: solid black 3px; }

.parrafo__foto {
  font-size: 3rem;
  font-weight: bolder;
  margin: 1.5rem;
  color: black; }

.parrafo__foto {
  font-family: 'Koulen', cursive;
  color: white;
  font-weight: 300; }

.ul__promos {
  display: grid;
  grid-auto-flow: column;
  margin-top: 10rem; }
  .ul__promos .Promo {
    font-size: 5rem;
    color: #e9e90e;
    font-style: oblique; }
  .ul__promos .Promo__1 {
    font-family: 'Koulen', cursive;
    font-size: 5rem;
    color: white;
    font-weight: 300;
    display: flex; }
  .ul__promos .Promo__img {
    width: 350px; }

@media screen and (max-width: 768px) {
  .header_navbar {
    display: flex; }
  main .div__heros {
    display: flex; }
  .hero__derecho {
    display: flex; }
  .div_subtitulo_Fettuccini {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center; }
  .subtitulo__fettuccini, .img__raviolon, .div_subtitulo_Sorrentinos {
    box-sizing: border-box;
    border: solid #000103 6px;
    width: fit-content; }
  .div_subtitulo_Sorrentinos {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center; }
  .div_subtitulo_Raviolon {
    width: 600px;
    display: grid;
    grid-template-columns: 1fr 1fr; }
  .div_subtitulo_noquis {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-gap: initial; }
    .div_subtitulo_noquis .img__ñoquis {
      width: 250px;
      margin-top: 10rem; }
  .parrafo__foto {
    margin-bottom: 7rem; }
  .form__whatsapp {
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center; }
  .ul__promos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap; }
  .footer div {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    align-items: none;
    justify-content: flex-end;
    margin: 10rem; } }

@media screen and (max-width: 425px) {
  .header__titulo {
    font-size: 10rem; }
  .navbar {
    margin: 1.5rem;
    padding: 1.5rem; }
  .navbar__toggler {
    width: max-content;
    height: max-content; }
  .div__heros {
    display: flex;
    align-content: center;
    align-items: center;
    flex-direction: column;
    gap: 3rem;
    margin-top: 2rem; }
  .hero__derecho {
    display: flex;
    justify-content: center; }
  .subtitutlo__pasta {
    font-size: 7rem;
    font-family: 'Times New Roman', Times, serif;
    color: white; }
  .div_subtitulo_noquis {
    display: grid;
    grid-template-rows: repeat(5auto);
    gap: 1rem;
    grid-template-areas: "img1" "img2" "img3" "img4" "img5";
    height: fit-content; }
  .img1 {
    grid-area: img1; }
  .img2 {
    grid-area: img2; }
  .img3 {
    grid-area: img3; }
  .img4 {
    grid-area: img4; }
  .img5 {
    grid-area: img5; }
  .div_subtitulo_Raviolon {
    display: grid;
    grid-template-columns: 1fr;
    width: 350px; }
  .form__whatsapp {
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center; }
  .footer {
    display: grid;
    justify-content: end; } }
